// These colors are specific to the theme. Do not use in a package!

@white: #fff;

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #d6d6d6;
@dark-gray: #777279;
@very-dark-gray: #2B2d2f;

@light-blue: #b7dae8;
@blue: #75BBD4;
@green: #a1c162;
@light-red: #ffc9c9;
@red: #f17d8f;
@yellow: #dcd063;
@light-purple: #C39CCE;
@purple:#b77fc7;
