// These colors are specific to the theme. Do not use in a package!

@white: #fff;

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #d1d1d1;
@dark-gray: #777279;
@very-dark-gray: #25292b;

@blue: #77bcd7;
@green: #a1Ca4f;
// Alternative @green color #96b951.
@red: #e27c8c;
@yellow: #dcd063;
